<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Review</title>
  </head>
  <body>
    <h1>Restaurant Review</h1>
    <h4><a href="/cuisines">View Cuisines</a></h4>
    <h4><a href="/tasks">View Tasks</a></h4>
    <h4><a href="/"></a></h4>
  </body>
</html>
